# Compiled class file
target/

# Log file
*.log

# Maven
pom.xml.versionsBackup

# Local configuration file (application.properties)
src/main/resources/application.properties

# IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project

# VSCode
.vscode/

# OS-specific files
.DS_Store

# Optional: Ignore all properties files if you want to keep local configurations
*.properties