# Ignore Maven build artifacts
target/

# Ignore IDE-specific files
.idea/
*.iml

# Ignore Eclipse project files
.settings/
.classpath
.project

# Ignore VSCode project files
.vscode/

# Ignore local configuration files
src/main/resources/application.properties

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store

# Ignore Git files
.git/
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore